
@{
    ViewBag.Title = "TermsOfUse";
}


<div class="pageContainer aboutContainer">
    <div class="container">
        <h2>Terms of Use</h2>
        <h3>A G R E E M E N T</h3>
        <p>This agreement (“Agreement”) is a legally binding contract between You (“User”) and Career.care (“CCT”), a New York corporation which operates a US based web site currently located at www.Career.care.  CCT may be contacted at the email address listed below, and has a mailing address:</p>
        <div class="addressDiv">
            <p>Career.care</p>
            <p>65 15th St</p>
            <p>Suite 2F</p>
            <p>New York, NY 11215</p>
            <p class="nomargin">info@Career.care</p>
        </div>
        <p>You acknowledge that the purpose of CCT is, to the best of its ability, provide personality and career assessment, career statistics and information, as well as job and education postings. CCT is the sole interpreter of the fulfillment and scope of its purpose.</p>
        <p>By accessing the web site www.Career.care and using any of the services offered on the site, you become a user, and expressly agree to be bound by the Terms of Use and conditions contained in this Agreement.  Such terms of use may be modified periodically by CCT, and your continued use of the site and services offered constitute your express consent and approval of the then-current terms and conditions promulgated by the site.  <strong>IF AT ANY TIME YOU DO NOT AGREE TO BE BOUND BY THE THEN-CURRENT TERMS OF THIS AGREEMENT, YOU AGREE TO CEASE YOUR USE OF THE SITE AND SERVICES OFFERED.</strong></p>
        <p>CCT may offer additional services that your use of, or participation in, will be subject to additional terms and conditions which will either be  stated within this Agreement, or will be accepted by you upon your registration for such additional services.  This Agreement may be changed by CCT at any time, in CCT’s sole discretion and the User’s continued use of the service shall constitute acceptance of any such amended or supplemental provisions contained in any revised version of these terms of use.</p>
        <ol class="mainNumberList">
            <li>
                <h4>DEFINITIONS</h4>
                <ol class="lowerAlpha">
                    <li>“User” is in reference to any party that uses any part of the CCT website.</li>
                    <li>“You” is in reference to any party (or party on whose behalf you are acting) that is in agreement with CCT’s Terms and Conditions.</li>
                </ol>
            </li>

            <li>
                <h4>ELIGIBILITY</h4>
                <ol class="lowerAlpha">
                    <li>You the User certify and warrant that you have never been convicted of a felony in any jurisdiction, and are not required to register as a sex offender with any Governmental entity.</li>
                    <li>Access and use of the service offered by CCT is void where prohibited by law, and you the User agree to be solely responsible for compliance with any and all applicable rules, regulations, statutory, or common law, of the jurisdiction in which access to the web site is sought.</li>
                    <li>You the User agree to use the service in a manner consistent with all terms of this Agreement, and all local, state, national and international laws, treaties and or regulations promulgated in the jurisdiction in which access to the web site is sought.</li>
                    <li>You the User also agree that you are not located in, or under the authority of, and are not a national or a resident of any jurisdiction, and will not allow access to residents of any jurisdiction with which the United States has embargoed goods, or those identified as “specially designated national” by the US Treasury Department, or the US Commerce Department’s Table of Deny Orders.</li>
                    <li>You the User also acknowledge that the use of the service requires adequate computer hardware and software.</li>
                </ol>
            </li>

            <li>
                <h4>USE OF THE WEB SITE AND SERVICE</h4>
                <ol class="lowerAlpha">
                    <li>You the User agree that the use of CCT is solely for your personal use and benefit.</li>
                    <li>You the User assumes full responsibility for the content they publish on CCT. CCT is not an employer and therefore is not to be held responsible for any employment related decisions made by any party posting job-positions on the CCT website.</li>
                    <li>
                        You the User agree to refrain from publishing, transmitting or communicating, and to flag and report any user which publishes any content or activity which is in violation of the terms of use contained herein, or may be perceived as:
                        <ul>
                            <li>False, Misleading, Illegal and or Inaccurate;</li>
                            <li>Defamatory, Threatening, Harassing, Stalking or Abusive;</li>
                            <li>Profane, Obscene or Pornographic;</li>
                            <li>Violating any person’s or entity’s rights, including intellectual property rights, or rights to privacy and publicity;</li>
                            <li>Spam, Solicitation or Advertising;</li>
                            <li>Promoting Racism, Bigotry or Hatred towards any class of persons or individuals;</li>
                            <li>Promoting any unlawful activity including gambling or similar activity;</li>
                            <li>Containing computer viruses, bots, worms, Trojan horses or other malware, or automated technology to access the site or service;</li>
                            <li>Any prerecorded video, including looped videos or animated images;</li>
                            <li>Any unauthorized collection or scraping of information from the web site;</li>
                            <li>CCT reserves the right to review, block, restrict and or delete any published content, information, communication, photo, video or any other content which in sole discretion of CCT may be in violation of the terms of this Agreement or may violate the rights or be harmful to the service or other users.  CCT also reserves the right to modify or discontinue, temporarily or permanently, the service or any portion thereof, with or without notice, at the sole discretion of CCT. You expressly agree that CCT shall not be held liable to you, a third party, or business partner based on any modification, suspension or entire termination of the service.</li>
                        </ul>
                    </li>
                </ol>
            </li>

            <li>
                <h4>PROPRIETARY RIGHTS</h4>
                <ol class="lowerAlpha">
                    <li>CCT owns and retains all proprietary information utilized by the service and you the User acknowledge that the web site contains copyrighted materials, trademarks and other intellectual property and proprietary information, which are the sole and exclusive property of CCT.  You the User agree that such proprietary information and intellectual property may not be altered, copied, published, transmitted, distributed, performed, displayed or otherwise disseminated by the user without the prior written consent by CCT.</li>
                    <li>You the User agree that you will not copy, publish, transmit, distribute, perform, publicly display, use commercially, reproduce or otherwise disseminate any copyrighted materials, trademarks or other proprietary information published on, or accessed through the web site, without the prior written consent of the owner of such intellectual property or proprietary information.</li>
                  
                </ol>
            </li>

            <li>
                <h4>LINKS</h4>
                <ol class="lowerAlpha">
                    <li>CCT may provide automated links to other world-wide web sites of third parties or business partners.  You the User acknowledge that CCT has no control over the content or use by User or others of such web sites, resources and or services, and you agree that CCT does not endorse and shall not be held accountable, responsible, or liable for any such content, resources, advertising, products or other services offered by third parties or business partners through links accessible through CCT’s web site.  You the User also agree and acknowledge that CCT shall not be held responsible or liable, directly or indirectly for any claims, damage or loss resulting from the use of, or reliance upon such third party or business partner content, goods, materials, products or services available at any such linked web site or resource.</li>
                </ol>
            </li>

            <li>
                <h4>NO WARRANTIES</h4>
                <ol class="lowerAlpha">
                    <li>To the maximum extent allowable by applicable law, CCT provides the service on an “as is” basis, and hereby disclaims warranties of any kind, express or implied, statutory or otherwise, with respect to the site, services, or information offered thereon, including but not limited to any implied warranties of merchantability, fitness or a particular purpose or non-infringement.  CCT makes no representations and does not guarantee or promise any particular results from any user’s use of the web site.</li>
                    <li>CCT is not responsible for any information, advice, statements or other content made available through the service by third parties or business partners and such representations made by third parties or business partners should not be necessarily relied upon by the user.  CCT cannot and will not guarantee the accuracy, comprehensiveness or utility of any information provided by third parties or business partners on the web site, and does not endorse or accept responsibility for representations, opinions, advice, or statements made by third parties or business partners on the web site.  The user expressly agrees that CCT shall not be held responsible for any claim, loss or damage allegedly attributable from anyone’s reliance on published content or information by users or third parties or business partners on the service.</li>
                    <li>CCT is not responsible for any errors or inaccuracies in content posted on the website or in connection with the service, irrespective of the cause of such errors or inaccuracies, including but not limited to malfunction of equipment or programming, related to the services.  CCT assumes no responsibility for any transmission errors, omissions, interruptions, deletions, delays, communication failures, theft, destruction, unauthorized access, or alteration of service communications.  CCT is not responsible for any technical malfunction of any network, line, systems, servers or provider’s equipment, hardware, software, email, third party or business partner software, plugins, controls or any other technology related problems including but not limited to those that may cause injury or damage to users or any other person’s computer, resulting from the use of CCT.</li>
                </ol>
            </li>

            <li>
                <h4>LIMITATIONS OF LIABILITY</h4>
                <ol class="lowerAlpha">
                    <li>Under no circumstances shall CCT be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential and or incidental, arising out of or relating to the conduct of any person or user in connection with the use of the services, including without limitation pecuniary damage, bodily injury, emotional or psychological distress, and or any other damages resulting directly or indirectly from communications or meetings with other users of the service.  Such limitation of liability expressly includes any and all claims, losses, and or damages, arising from the actions of users who have gained access to the service, and or have registered with the service using false, fictitious, misleading, or erroneous information, or with the intention to defraud or harm CCT or you the User.  Such limitation of liability shall be effective even in the event that CCT has been advised of the possibility of such damages and notwithstanding anything to the contrary contained herein, CCT’s liability to you the User for any cause of action in any form will at all times be limited to the amount paid for the service, if any, by you, to CCT during the term of your use of the services, and said amount shall constitute liquidated damages for any breach thereof.</li>
                    <li>You the User agree to take all reasonable precautions with respect to all communications and interactions with other users, especially and expressly in the event you plan to, or actually engage in meeting others off-line, in-person.  You the User agree that CCT cannot and does not verify the information provided by users, and agree to update and advise CCT of information you acquire which exposes inaccurate, false, or other misleading information published by other users, third parties or business partners.</li>
                    <li>You the User agree to indemnify, defend, and hold harmless CCT, its employees, agents, officers, directors, third parties or business partners for any and all claims, losses, costs, damages, liabilities and expenses, including reasonable attorney’s fees, rising out of your use or inability to use the service, any information published by you on the web site, your breach of any terms contained in this Agreement, or your violation of the rights of any third parties or business partners, other users, or your violation of any applicable laws, rules or regulations of any jurisdiction.  Notwithstanding the above, CCT reserves the right to assume the expense and exclusive defense and control of any action otherwise subject to indemnification by you and you expressly agree to cooperate with CCT in asserting available defenses.</li>
                </ol>
            </li>

            <li>
                <h4>PRIVACY POLICY</h4>
                <ol class="lowerAlpha">
                    <li>CCT will maintain a separate Privacy Policy which will be located on the site, accessible to all persons, and by using the site and or services, users are consenting to the then-current terms of CCT’s Privacy Policy.  CCT’s Privacy Policy will contain all information regarding the collection and use by CCT of information provided by you.</li>
                    <li>You the User recognize and agree that CCT may be required by law to disclose information about you, at the request of a third party or business partner, or otherwise in our sole discretion if we believe such disclosure is reasonable to comply with applicable law, or requests or orders from law enforcement agencies, or by subpoena or other legal process, or to protect CCT’s or any person’s rights, property, health or safety.</li>
                </ol>
            </li>

            <li>
                <h4>TERM OF AGREEMENT, CANCELLATION</h4>
                <ol class="lowerAlpha">
                    <li>This Agreement becomes effective upon your acceptance and consent to be bound by the terms of use contained herein, immediately by your commencement of use of this site and the service, and shall remain in effect until terminated under the terms hereof.  CCT or you may terminate this agreement for any reason, or no reason at all, without explanation.  You may terminate this agreement by deleting your published content on our website, and/or discontinuing use of our website. CCT reserves the right to terminate your use and remove all information, records, and data from the service without notice for any reason or no reason at all.</li>
                </ol>
            </li>

            <li>
                <h4>CHOICE OF LAW AND JURISDICTION</h4>
                <ol class="lowerAlpha">
                    <li>This agreement shall be governed by the laws of the State of New York without effect of conflicts of law provisions, and jurisdiction and venue for all legal actions shall lie in the United States District Court for the Southern District of New York, and or Supreme Court of the State of New York, New York County.  You the User acknowledge and agree that a breach or violation of the terms contained herein by you may cause CCT irreparable harm and that CCT shall be entitled to seek extraordinary relief in equity or at law, including but not limited to temporary or permanent restraining orders, preliminary injunctions, or other emergency relief, in addition to any other remedies available, without the necessity of posting a bond or other security therefor.</li>
                </ol>
            </li>

            <li>
                <h4>ENTIRE AGREEMENT / MISCELLANEOUS PROVISIONS</h4>
                <ol class="lowerAlpha">
                    <li>This Agreement and the separate Privacy Policy, which you accept upon using the service, constitutes the entire understanding and agreement between the parties, with respect to your use of the site and services, and supersedes any prior versions of this Agreement.  In addition, unless otherwise stated herein, the terms of this Agreement will survive the cancellation and or termination of your registration to the service.  Failure of CCT to act upon any breach of any right or provision contained in this Agreement shall not constitute a waiver of CCT’s rights to enforce any such provision.  In the event any part or provision of this Agreement is deemed unenforceable or invalid by applicable law, the remainder of this Agreement shall remain in full force and effect.  It is agreed that the terms of this Agreement shall not inure to the benefit of any third party, unless expressly stated herein.  It is expressly agreed that irrespective of any statute or law to the contrary, any claim or cause of action resulting from the use of this site or service, or arising out of the terms of this Agreement, shall be commenced within one (1)  year from the date such claim or cause of action accrued, or be forever time-barred.  Headings contained herein are for convenience only and shall have no legal effect.</li>
                </ol>
            </li>

            <li>
                <h4>COPYRIGHT NOTICE</h4>
                <ol class="lowerAlpha">
                    <li>
                        Posting, distributing, reproducing or otherwise disseminating in any way, any copyrighted materials, trademarks or any other proprietary information, absent prior written consent of the owner thereof, is strictly prohibited under the terms of this agreement.  If you believe that any of your work has been copied and published on CCT’s web site, in a manner that constitutes copyright infringement, notify our copyright agent with the following information:
                        <ul>
                            <li>An electronic or physical signature of a person authorized to act on behalf of the copyright owner;</li>
                            <li>A description and identification of the copyrighted work that you claim is being infringed upon;</li>
                            <li>A description and identification of the material that you claim is infringing, and the location of such material on the website;</li>
                            <li>Information reasonably calculated to allow CCT to contact you including your mailing address, telephone number and email address;</li>
                            <li>A written statement by you of your good faith belief that the disputed use of the material is not authorized by the copyright owner, its copyright agent or law; and</li>
                            <li>A sworn statement made under penalty of perjury that the information contained in your notice to CCT is accurate, and that you are either the copyright owner or are authorized to act on behalf of the copyright owner;</li>
                            <li>
                                CCT’s copyright agent for notice of claims of copyright infringement can be reached as follows:
                                77 Water Street
                                8th Floor
                                New York, NY 10005
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>

            <li>
                <h4>MODIFICATION OF AGREEMENT</h4>
                <ol class="lowerAlpha">
                    <li>CCT reserves the right to unilaterally modify and revise the terms of this Agreement at any time at the sole discretion of CCT.  Such revised terms will be effective upon posting and your use of the service after such posting shall constitute your acceptance of the terms of the revised agreement.</li>
                </ol>
            </li>

            <li>
                <h4>LAST REVISION</h4>
                <ol class="lowerAlpha">
                    <li>This Agreement was last revised on February 15, 2017</li>
                </ol>
            </li>
        </ol>

    </div>
</div>
@section scripts {
    <script>

        $('#aboutLink').click(function () {
            window.location = "/Home/Index";
           //$('html, body').animate({ scrollTop: $('#aboutUs').offset().top }, 'slow');
        });

        $('#howWorksLink').click(function () {
            window.location = "/Home/Index";
           // $('html, body').animate({ scrollTop: $('#howWorks').offset().top }, 'slow');
        });


    </script>
}


